body {
    margin: 0;
    font-family: Arial, sans-serif;
    width: 200vw;
}



.imageset-container {
    height: 100vh;
    align-content: center;
}

.image-set {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.image-container {
    width: 200px;
    /* Adjust the width as needed */
    height: 300px;
    /* Adjust the height as needed */
    overflow: hidden;
    border: 2px solid #ccc;
    /* Adjust the border style as needed */
    border-radius: 10px;
    /* Optional: rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Optional: shadow effect */
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.popup-box {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 100px;
    border: 1px #0000007c solid;
    border-radius: 10px;
    z-index: 9999;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 200vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}

.hidden {
    display: none;
}